{% extends 'base.html.twig' %}

{% block title %}Visualiser tous les matchs{% endblock %}

{% block body %}

{% include 'menu.html.twig' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">Work in progress</div>
    </div>
</div>
{% endblock %}
