@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

#carouselPresentationEvent .carousel-item img {  
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height:50vh;
}

.clickable-row {
    cursor: pointer;
}
