@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

#carouselPresentationEvent .carousel-item img {  
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height:50vh;
}

.clickable {
    cursor: pointer;
}

.filter--notFound {
    display: none;
}

/* Bord arrondis pour les tables */
.table-rounded {
    border-radius: 9px;
    overflow: hidden;
}
